
 .chat-heading{
    background-color: rgb(224, 239, 239);
    /* font-size: 17px; */
 }
 .chat-name-input-section{
    display: flex;
    column-gap: 5rem;
 }
 .search-icon{
    margin-top:0.4rem;
    width:auto;
    height:0.8rem;
    /* padding: 1rem; */
 } 
 input{
    border:1px solid black; 
    border:1px solid black;
    border-radius: 3px;
    box-shadow: 2px skyblue;
    font-size:1rem;
    width:13rem;
    height:1.5rem;
 } 
 .search-field{
    display: flex;
    flex-direction:row;
    gap:5px;
 }
 .chat-navbar{
     width:100%;
     border: 2px solid #61a2ed;
     background-color: #61a2ed;
     border-radius: 7px;
   }
 .login-user-detail{
    display: flex;
    column-gap:20px;
    padding: 0.3rem;
 }
 .dp{
    width: 27px;
    height:27px;
    border: 1px solid rgb(74, 149, 241);
    border-radius: 27px;
 }
 .user-data{
    color:black;
 }
 .plus-icon{
    width:1rem;
    height:1rem;
    margin-top: 5px;
 }
 .create-group{
    display: flex;
    column-gap: 0.2em;
    border:0.1rem solid rgb(49, 149, 231);
    border-radius: 3px;
    background-color: #eee;
    height:2rem;
    padding: 2px;
 }
 .chat-page::-webkit-scrollbar{
   display: none;
 } 
 .search-dp{
    /* padding-top: 3px; */
    margin-top:6px;
    width:1.5rem;
    height:1.5rem;
    border:solid rgb(79, 203, 252) 1px;
    border-radius: 1.5rem;
 }
 .chat-username{
    font-size:20px;
 }
 .popup-box {
  position: absolute;
  top: 40px; 
  left: 8px;
  width: 260px;
  background: rgb(255, 255, 255);
  border: 1px solid #f7e7e7;
  box-shadow: 0 0 10px rgba(7, 7, 7, 0.1);
  z-index: 1000;
  border-radius: 5px;
}
 .result-item {
  padding: 5px;
  border-bottom: 1px solid #eee;
  display: flex;
  cursor: pointer;
}

.result-item:hover {
  background-color: #f1d7d7;
} 

.view-profile-section{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:20%;
    left:40%;
    padding:1rem;
    border:solid 2px rgb(247, 199, 109);
    width:20rem;
    height:fit-content;
    z-index: 2;
    background-color: rgb(147, 181, 210);
}
.arrow-left{
   width: 15px;
   height: 15px;
}
.profile-photo{
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap:1rem;
   margin-bottom:2rem;
}
.profile-name{
   font-size: 1.3rem;
}
.profile-dp{
   width:5rem;
   height:5rem;
   border-radius:5rem;
}
.chat-user-list{
   display: flex;
   column-gap: 1rem;
   row-gap: 2rem;
}
.chat-users-list{
   list-style: none;
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
   /* padding-left: 2rem; */
   /* align-items: center; */
}
.users-dp{
   width:35px;
   height:35px;
   border-radius:45px;
}
/* .chat-body{
    width:30%;
    height:95vh;
    padding-left: 5px;
    padding-right: 5px;
    border:solid black 2px;
    border-radius:5px;
    background-color: rgb(209, 222, 233);
    overflow-y: auto;
 } */
/* .chat-body::-webkit-scrollbar{
    display: none;
} */
/* .message-page{
     display: flex;
    flex-direction: column;
    flex:1;
    overflow:hidden;
    padding:5px;
    border: solid 3px rgb(57, 130, 255);
    border-radius:5px;
    background-color: rgb(207, 222, 227);
}  */
/* @media (max-width:640px) {
   body,html{
      margin: 0;
      padding: 0;
   }
   .chat-body-section{
      display: block;
   }
   /* .chat-body{
      display:none !important;
   } */
   /* .message-page{
      display: flex !important;
      flex:1 !important;
      height:700px;
      width:100% !important;
      overflow:hidden;
   }
   .chat-body{
      display: flex;
      width:100vw !important;
      height:700px !important;
   }
   .message-window{
    flex:1;
    overflow-y:auto; */
/* } */
   /* .back-btn{
      display:block;
   } */
/* } */
@media (max-width:523px){
   .login-user-detail{
      display: flex;
      flex-direction: column;
      row-gap:3px;
      padding: 0.3rem;
   }
   .search-bar-section{
      display: flex;
      flex-direction: column;
      padding: 0.3rem;
   }
}
.message-person{
    display:flex;
    width:100%;
    background-color: rgb(149, 207, 243);
    border: 1px solid black;
    border-radius: 4px;
    column-gap:0.5rem;
    padding: 10px;
    margin-bottom:5px;
    font-weight: 500;
}
.message-window::-webkit-scrollbar{
    display: none;
}
.message-enter-section{
    display: flex;
    flex-direction: row;
    position: relative;
    flex-shrink: 0;
    bottom: 0;
    left:0;
    padding:5px;
}
.msg-typing-area{
    /* position: absolute; */
    display: flex;
    align-items: center;
    column-gap:0.2rem;
    /* height:min-content; */
}
.chat-dp{
    width: 2rem;
    height: 2rem;
    border-radius:2rem;
    border: solid 2px rgb(70, 185, 231);
}
.user-photo{
   margin-top: 3px;
   width:20px;
   height:20px;
   border-radius: 20px;
}
/* .chat-detail{
   display: flex;
   flex-direction: row;
   gap:1rem;
   margin: 0;
   /* row-gap: 2rem; */
/* } */ */
/* .current-msg{
   display: flex;
   flex-direction: column;
   /* column-gap:0.2rem; */
   /* width: max-content;
   height:min-content;
} */
/* .chat-detail:hover{
   background-color:rgb(152, 238, 152);
} */
.send-icon{
    width: 25px;
    height:25px;
    border-radius: 20px;
}
.msg-tab{
   width:fit-content;
   border:1px solid ;
   border-radius: 15px;
}
.msg-div{
   width:fit-content;
}
.sent-div{
   align-self: flex-end;
   text-align:right;
   column-gap: 0.2rem;
   /* width:fit-content; */
}
.received-div{
   align-self: flex-start;
   text-align:left;
   column-gap: 0.2rem;
   /* width:fit-content; */
}
.sent{
   background-color: #6dbc2f;
   color:white;
   align-self: flex-end;
   width:fit-content;
   /* max-width:; */
   max-height:auto;
   margin-left: auto;
   text-align: right;
   padding-left:3px;
   padding-right:3px;
}
.received{
   background-color:rgb(37, 36, 36);
   color:white;
   width:fit-content;
   /* max-width:80%; */
   max-height:auto;
   align-self: flex-start;
   margin-right:auto;
   text-align:left;
   padding-left:3px;
   padding-right: 3px;
}

.list-of-message{
  display: flex;
  width: 100%;
  list-style: none;
  column-gap: 0.5rem;
}
.logout-btn{
    width:fit-content;
    height:auto;
    border:solid 2px rgb(247, 92, 92);
    background-color: rgb(241, 120, 120);
    border-radius: 5px;
}

