@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  padding: 0;
  margin:0;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
#root{
  height: 100vh;
}
/* @layer utilities{
    /* Hide scrollbar for Chrome, Safari and Opera */
  /* .no-scrollbar::-webkit-scrollbar {
          display: none;
      } */
     /* Hide scrollbar for IE, Edge and Firefox */
      /* .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          /* scrollbar-width: none;  /* Firefox */
/* }
} */ 
/* html,body{
  height:100vh;
  width:100vw;
  overflow: hidden;
} */
/* body{
  background-image: url("https://cdn.vectorstock.com/i/500p/77/01/social-media-chat-background-vector-30037701.jpg");
} */